
<div class="container">
  <p></p>
  <div class="row">
    <ul class="nav nav-pills">
      <li>
        <button class="btn btn-primary" (click)="onMult()">Mat Mul</button>
      </li>
      <li>
        <button class="btn btn-primary" (click)="onTranspose('X')">Transpose X</button>
      </li>
      <li>
        <button class="btn btn-primary" (click)="onTranspose('Y')">Transpose Y</button>
      </li>
      <li>
        <button class="btn btn-primary" (click)="onRelu('X')">RELU (X)</button>
      </li>
      <li>
        <button class="btn btn-primary" (click)="onSigmoid('X')">Sigmoid (X)</button>
      </li>
    </ul>
  </div>
  <p></p>
  <div class="row">
    <p>
      Operation : {{operation}}
    </p>
    <div class="col-md-5" *ngFor="let t of tensors | keyvalue">
      <div class="panel panel-primary">
        <div class="panel-heading">Tensor {{t.key}}</div>
        <div class="panel-body">
          <table class="table">
            <tr *ngFor="let line of t.value.arraySync()">
              <td *ngFor="let v of line">{{v|number:'0.2'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Neural Net Model</div>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li><button class="btn btn-success" (click)="onCreateModel()">Create Model</button></li>
        <li><button class="btn btn-success" (click)="onLoadData()">Load Data</button></li>
        <li><button class="btn btn-success" (click)="onTrainModel()">Train</button></li>
        <li><button class="btn btn-success" (click)="onSaveModel()">Save Model</button></li>
        <li><button class="btn btn-success" (click)="onLoadModel()">Load Model</button></li>
        <li><button class="btn btn-success" (click)="onEvalModel()">Evaluate Model</button></li>
      </ul>
      <div class="row">
        <div class="col-md-8">
          <progress-bar [progress]="currentEpoch" [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}"></progress-bar>
        </div>
        <div class="col-md-4">
          <label>Loss: {{currentLoss}}</label>
          <label>Accuracy: {{currentAccuracy}}</label>
          <label>Evaluation: {{100*correctEval/(correctEval+wrongEval)}} %</label>
        </div>
      </div>
      <div class="row" *ngIf="modelCreated">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/images/model.png" width="300" >
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Prediction :<strong>{{prediction}}</strong></div>
              <div class="panel-body">
                <form #f="ngForm" (ngSubmit)="onPredict(f.value)">
                  <div class="form-group">
                    <label class="control-label">SepalLengthCm:</label>
                    <input class="form-control" type="text" name="SepalLengthCm" ngModel="" [(ngModel)]="example.SepalLengthCm">
                  </div>
                  <div class="form-group">
                    <label class="control-label">SepalWidthCm:</label>
                    <input class="form-control" type="text" name="SepalWidthCm" ngModel="" [(ngModel)]="example.SepalWidthCm">
                  </div>
                  <div class="form-group">
                    <label class="control-label">PetalLengthCm:</label>
                    <input class="form-control" type="text" name="PetalLengthCm" ngModel="" [(ngModel)]="example.PetalLengthCm">
                  </div>
                  <div class="form-group">
                    <label class="control-label">PetalWidthCm:</label>
                    <input class="form-control" type="text" name="PetalWidthCm" ngModel="" [(ngModel)]="example.PetalWidthCm">
                  </div>
                  <button type="submit">Predict</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <img src="assets/images/{{prediction}}.png" width="200">
          </div>
        </div>

        <div class="col-md-6">
          <table class="table" *ngIf="xs">
            <tr>
              <th>SepalLengthCm</th>
              <th>SepalWidthCm</th>
              <th>PetalLengthCm</th>
              <th>PetalWidthCm</th>
              <th>Species</th>
            </tr>
            <tr *ngFor="let d of xs; let i=index">
              <td>{{xs[i][0]}}</td>
              <td>{{xs[i][1]}}</td>
              <td>{{xs[i][2]}}</td>
              <td>{{xs[i][3]}}</td>
              <td>{{getIrisClass(ys[i])}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
